@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

header > nav {
    width: calc(100vw / 12);
}

main {
    width: calc(100vw / 12 * 11);
    margin-left: calc(100vw / 12);
}

/*
 * HOME PAGE
 */

@layer home-grid {
    .home-cards {
        @apply grid grid-cols-1 grid-rows-5 md:grid-cols-2 md:grid-rows-4 lg:grid-cols-4 lg:grid-rows-2 gap-4 p-4;
    }
    .card-1 {
        @apply min-h-[275px] col-span-1 md:col-span-2 row-span-1 bg-nature-light rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-2 {
        @apply min-h-[275px] col-span-1 row-span-1 bg-nature-darker !text-white rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-3 {
        @apply min-h-[275px] col-span-1 row-span-1 md:row-span-2 bg-white rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-4 {
        @apply min-h-[275px] col-span-1 row-span-1 bg-nature-lighter rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-5 {
        @apply min-h-[275px] col-span-1 md:col-span-2 row-span-1 bg-nature-dark !text-white rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }

}