@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

header > nav {
    width: calc(100vw / 12);
}

main {
    width: calc(100vw / 12 * 11);
    margin-left: calc(100vw / 12);
}

/*
 * HOME PAGE
 */

@layer home-grid {
    .home-cards {
        @apply grid grid-cols-1 grid-rows-5 md:grid-cols-2 md:grid-rows-4 lg:grid-cols-4 lg:grid-rows-2 gap-4 p-4;
    }
    .card-1 {
        @apply min-h-[275px] md:order-1 lg:order-1 col-span-1 md:col-span-2 row-span-1 bg-nature-light rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-2 {
        @apply min-h-[275px] md:order-3 lg:order-2 col-span-1 row-span-1 bg-nature-darker !text-white rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-3 {
        @apply min-h-[275px] md:order-2 lg:order-3  col-span-1 row-span-1 md:row-span-2 bg-white rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-4 {
        @apply min-h-[275px] md:order-4 lg:order-4 col-span-1 row-span-1 bg-nature-lighter rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }
    .card-5 {
        @apply min-h-[275px] md:order-5 lg:order-5 md:col-span-3 lg:col-span-2 row-span-1 bg-nature-dark !text-white rounded-xl !shadow-lg hover:!shadow-xl hover:!scale-[1.001] shadow-nature-darker bg-opacity-75;
    }

    .card-info {
        @apply m-6 2xl:mx-10 flex items-center;
    }

    .card-info-icon {
        @apply flex-none relative mr-1 w-8 md:w-9 lg:w-10 2xl:w-20 h-8 md:h-9 lg:h-10 2xl:h-20;
    }

    .card-info-data {
        @apply grow flex flex-col text-black text-opacity-50;
    }

    .card-info-data:nth-child(1) {
        @apply inline-block text-xs 2xl:text-2xl pl-1 lg:pl-2 2xl:pl-3 2xl:mx-8;
    }

    .card-info-data:nth-child(2) {
        @apply inline-block text-xs 2xl:text-2xl pl-1 lg:pl-2 2xl:pl-3 2xl:my-2 2xl:mx-8;
    }

    .card-content {
        @apply text-black text-opacity-50 font-medium h-64 md:text-sm 2xl:text-3xl px-7 lg:px-9 mb-3 2xl:pb-8 2xl:mx-2 overflow-y-auto;
    }

    .card-2 .card-info-data,
    .card-5 .card-info-data,
    .card-2 .card-content,
    .card-5 .card-content {
        @apply text-white text-opacity-50;
    }

    .post {
        @apply flex flex-col justify-around p-4;
    }

    .post-title {
        @apply !text-3xl font-bold mt-2 justify-self-start;
    }

    .post-card {
        @apply h-auto bg-nature-lighter rounded-xl shadow-lg mt-2;
    }

    .post-content {
        @apply px-4 pt-4 pb-16;
    }

    .post-controls {
        @apply h-16 w-full bg-nature-dark rounded-bl-lg rounded-br-lg;
    }
}